html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.emContainer {
	max-width     : 1200px;
	position      : relative;
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

.controls {
	text-align: center;
}

.tool-tips {
	right: 0;	
}

.tooltip {
	margin: 20px;
	/*height         : 120px;*/
	border-radius: 10px;
	padding      : 10px;
	border:  10px;
}

.tooltip p {
	margin : 0;
	width  : 100%;
	height : 30px;
}

.tooltip p span {
	float : right;
	height: 100%;
}

.tool-tip {
	user-select   : none;
	pointer-events: none;
	opacity       : 0;
	position      : absolute;
	width         : 320px;
	/*height         : 120px;*/
	background   : #F5FBF;
	padding      : 10px;
}

.tool-tip p {
	margin : 0;
	width  : 100%;
	height : 20px;
}

.tool-tip p span {
	float : right;
	height: 100%;
}

.tool-tip.active {
	user-select: initial;
	opacity    : .7;
}

button {
	border          : 2px solid #292183;
	border-radius   : 4px;
	background-color: #F5FBFF;
	padding         : 9px 14px;
	text-decoration : none;
	font-size       : 13px;
	font-weight     : bold;
	color           : #292183;
}

button:hover {
	border          : 4px solid #292183;
	cursor          : pointer;
}

button:active {
	background-color: #292183;
}

button:disabled {
	background-image: none;
	border          : 1px solid #000000;
	background-color: #333338;
	border-radius   : 4px;
	padding         : 9px 14px;
	text-decoration : none;
	font-size       : 13px;
	font-weight     : bold;
	color           : #eee;
	font-family     : sans-serif;
}

button.btn-run {
	margin: 12px 5px 20px;
}

select {
	user-select     : none;
	border          : 1px solid #aaa;
	border-radius   : 4px;
	color           : #555;
	font-size       : inherit;
	padding         : 5px 10px;
	margin          : 0 3px;
}


.graph {
	padding       : 0px;
	/*background  : pink;*/
	display       : flex;
	flex-direction: row;
	flex-wrap     : wrap;
	align-content : flex-start;
	font-size     : 11px;
	margin-bottom : 10px;
}

.graph .y-axis {
	width          : 32px;
	display        : flex;
	flex-direction : column;
	justify-content: space-between;
	line-height    : 12px;
}

.graph .canvas-wrapper {
	flex   : 1;
	padding: 7px 14px;
}

.graph .x-axis {
	width          : 100%;
	height         : 17px;
	margin-left    : 32px;
	/* the same as y-axis width */
	display        : flex;
	justify-content: space-between;
	line-height    : 12px;
}

.graph .x-axis>div {
	flex-basis: 28px;
	text-align: center;
	/*border  : 1px solid white;*/
}

.graph .y-axis>div {
	text-align: end;
	/*border  : 1px solid white;*/
}


.graph canvas {
	border          : 1px solid #666;
	width           : 100%;
	height          : 100%;
	transform       : scale(1, -1);
	background-image: url("grid.svg");
	background-color: white;
}


@media screen and (min-width: 841px) {
	.emContainer>.graph {
		width    : calc(100% - 325px);
		font-size: 12px;
	}

	.emContainer>.controls {
		width    : 400px;
		right    : 0;
		font-size: 14px;
	}
	.emContainer>.tool-tips {
		right    : 0;
		position: absolute !important;
		font-size: 14px;
	}

	.tooltip{
		margin-right: -200px;
		width: 350px;
	}

}