<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Учебник по машинному обучению"
    />
    <meta name="author" content="ШАД" />
    <title>ML-handbook</title>
    <link rel="stylesheet" href="" />
    <link type="image/x-icon" rel="icon" href="" />
  </head>

  <body class="">
    <header class="header"></header>
    <div class="sidebar"></div>
    <div class="content"></div>
    <footer class="footer>"></footer>
  </body>
</html>
