---
layout: default
---
<div class="page sidebar-overlay">
  {% if page.cover_file_path %}
    <img src={{ page.cover_file_path }} 
      style="display: block; max-width: 100%; margin: 0 auto 0;">
  {% else %}
    <img src="./images/cover.png" 
      onError="style.display = 'none';" 
      style="display: block; max-width: 100%; margin: 0 auto 0;">
  {% endif %}
  
  <h1 class="page-title">{{ page.title }}</h1>
  {% include authors.html %}
  <br/>
  {{ content }}
</div>
