@import "./nprogress.css";
:root {
  --progress-color: #374151;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "katex/dist/katex.min.css";
@import url("../fonts/fonts.css");

@layer utilities {
  summary {
    color: #111827;
    font-weight: 600;
  }
} ;
