@import "./nprogress.css";
:root {
  --progress-color: #374151;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "katex/dist/katex.min.css";
@import url("../fonts/fonts.css");

@layer utilities {
  summary {
    color: #111827;
    font-weight: 600;
  }

  details > p,
  details > div {
    border-left: 1px solid #3b4856;
    margin-left: 5px;
    padding-left: 30px;
  }

  .katex-display > .katex {
    white-space: normal;
    margin: 2em 0 2em 3em;
    text-align: left;
  }
} ;
