@import "./nprogress.css";
:root {
  --progress-color: #374151;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "katex/dist/katex.min.css";
@import url("../fonts/fonts.css");

@layer utilities {
  details > p {
    border-left: 1px solid #3b4856;
    margin-left: 5px;
    padding-left: 30px;
  }
} ;
